body{
  background-color: #232323;
}
.App{
  display: flex;
}
label{
  color: #adb4b7;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #17a2b8;
  background-color: #fff0;
  background-clip: padding-box;
  border: 1px solid #17a2b8;
  border-radius: 0;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #fbfdff;
  background-color: #fff0;
  border-color: #17a2b8;
  outline: 0;
  box-shadow: none;
}

button{
  margin-top: 10%;  
}

.alert-info {
  margin-top: 10%; 
  color: #17b4c5;
  background-color: #d1ecf100;
  border-color: #17abbe;
}